<nav class="navbar">
  <div class="container">
      <div class="logo"><a href="#">Sa<span>HiL</span></a></div>
      <ul class="menu">
          <li><a href="#home" class="menu-btn">Home</a></li>
          <li><a href="#about" class="menu-btn">About</a></li>
          <li><a href="#Skills" class="menu-btn">Skills</a></li>
          <li><a href="#teams" class="menu-btn">Projects</a></li>
          <li><a href="/contact" class="menu-btn">Contact</a></li>
      </ul>
      <div class="menu-btn">
        <ion-icon name="menu-outline"></ion-icon>
      </div>
  </div>
</nav>